body{
    background-image: url("/images/purple.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    font-family:"whereas", monospace;
    color: white;
}

#abtme{
    background-color: #008282;
    border-style:dotted;
    border-radius: 50px;
    border-color:#2b0057;
    padding: 20px;
    text-align:center;
}

#like{
    border-style: outset;
    border-color:#400020;
    border-radius:15px;
    padding:5px;
    background: linear-gradient(#77003c, #2b0057);
    background-attachment:fixed;
    text-align:center;
}

#jarley{
   float: left;
}

a:link{
    color:white;
}

a:visited{
    color:grey;
}

#intro{
    text-align:center;
    text-shadow: 0px 0px 15px #008282;
}

#hehe{
    text-align:center
}
#links{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.fa-github{
    color:white;
}.fa-youtube{
    color:#2b0057
}
#linktext{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}